In [1]:
#import necessary modules to extract the Raw Data

import pandas as pd
import numpy as np
# to import Raw data in json format, we need below two modules
# import requests
# import json

In [2]:
%%time

# read csv files from the site

df1 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv')
df1.head()

Wall time: 6.41 s

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num Cases
0,1.0,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1
3,4.0,DL-P1,02/03/2020,NaN,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,...,"Travelled from Austria, Italy",NaN,India,Imported,15/03/2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria,1
4,5.0,TS-P1,02/03/2020,NaN,24,M,Hyderabad,Hyderabad,Telangana,TG,...,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02/03/2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact",1

In [3]:
df1.shape

(17364, 21)

In [4]:
%%time

df2 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data2.csv')
df3 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data3.csv')
df4 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data4.csv')
df5 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data5.csv')
df6 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data6.csv')
df7 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data7.csv')
df8 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data8.csv')
df9 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data9.csv')
df10 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data10.csv')
df11= pd.read_csv('https://api.covid19india.org/csv/latest/raw_data11.csv')
df12 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data12.csv')
df13 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data13.csv')
df14 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data14.csv')
df15 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data15.csv')
df16 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data16.csv')
df17 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data17.csv')
df18 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data18.csv')
df19 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data19.csv')
df20 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data20.csv')
df21 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data21.csv')
df22 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data22.csv')
df23 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data23.csv')
df24 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data24.csv')
df25 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data25.csv')
df26 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data26.csv')

Wall time: 1min 21s

In [5]:
# lets get an overview of our dataset

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17364 entries, 0 to 17363
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Patient Number                             17306 non-null  float64
 1   State Patient Number                       2457 non-null   object
 2   Date Announced                             17364 non-null  object
 3   Estimated Onset Date                       0 non-null      float64
 4   Age Bracket                                1670 non-null   object
 5   Gender                                     3746 non-null   object
 6   Detected City                              2166 non-null   object
 7   Detected District                          14978 non-null  object
 8   Detected State                             17363 non-null  object
 9   State code                                 17363 non-null  object
 10  Current Status                             17364 non-null  object
 11  Notes                                      16046 non-null  object
 12  Contracted from which Patient (Suspected)  1537 non-null   object
 13  Nationality                                1554 non-null   object
 14  Type of transmission                       2951 non-null   object
 15  Status Change Date                         17195 non-null  object
 16  Source_1                                   17075 non-null  object
 17  Source_2                                   3396 non-null   object
 18  Source_3                                   445 non-null    object
 19  Backup Notes                               361 non-null    object
 20  Num Cases                                  17364 non-null  int64
dtypes: float64(2), int64(1), object(18)
memory usage: 2.8+ MB

## Now let's see if all the column names in each table are same or not before merging all the receords into single dataset: -

In [6]:
df1.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [7]:
df2.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num Cases'],
      dtype='object')

In [8]:
df3.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [9]:
df4.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [10]:
df5.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [11]:
df6.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [12]:
df7.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [13]:
df8.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [14]:
df9.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [15]:
df10.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [16]:
df15.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [17]:
df22.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [18]:
df26.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

### Here we can see that all the column names from df1 till df26 has same column names but change in order which is alright.

But if there are any columns names of a dataset not macthing with the columns name of another daatset, we will have to rename the name of the necessary columns to avoid confusion before merging.

For this we can use the Rename function in Python
SYNTAX: - data.rename(columns = {"current name" : "rename"})

For ex: - dfn = dfn.rename(columns = {"curr_colName_like_Num cases" : "replace_colName_like_Num Cases"})

# Retain necessary Columns only:
Once we have checked the col names now let us use only the required columns for our Interpretation and Analysis.

In [19]:
df1 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df2 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df3 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df4 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df5 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df6 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df7 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df8 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df9 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df10 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df11 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df12 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df13 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df14 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df15 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df16 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df17 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df18 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df19 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df20 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df21 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df22 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df23 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df24 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df25 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]
df26 = df1.loc[:, ['Num Cases', 'Date Announced', 'Age Bracket', 'Gender', 'Detected City', 'Detected District', 'Detected State', 'Current Status', ]]

In [20]:
df1.head()

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status
0,1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered
1,1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered
2,1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered
3,1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered
4,1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered

## Merging all the datasets:

In [21]:
df = df1.append([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, 
                 df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26])
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status
0,1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered
1,1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered
2,1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered
3,1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered
4,1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered
...,...,...,...,...,...,...,...,...
17359,-2,16/04/2020,NaN,NaN,NaN,NaN,Maharashtra,Hospitalized
17360,1,18/04/2020,NaN,NaN,NaN,Nagpur,Maharashtra,Hospitalized
17361,-1,18/04/2020,NaN,NaN,NaN,NaN,Maharashtra,Hospitalized
17362,10,19/04/2020,NaN,NaN,NaN,Nagpur,Maharashtra,Hospitalized
17363,-10,19/04/2020,NaN,NaN,NaN,NaN,Maharashtra,Hospitalized

## For Analysis purpose we can split our Date Announced to -> Day, Month, Year

In [22]:
Date = df['Date Announced'].str.split('/', expand = True)
Date.columns = ['Day', 'Month', 'Year']
Date

      Day Month  Year
0      30    01  2020
1      02    02  2020
2      03    02  2020
3      02    03  2020
4      02    03  2020
...    ..   ...   ...
17359  16    04  2020
17360  18    04  2020
17361  18    04  2020
17362  19    04  2020
17363  19    04  2020

[468828 rows x 3 columns]

### Concatenate Date with our data:

In [23]:
df = pd.concat([df, Date], axis = 1)
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,Year
0,1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30,01,2020
1,1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,02,02,2020
2,1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,03,02,2020
3,1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,02,03,2020
4,1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,02,03,2020
...,...,...,...,...,...,...,...,...,...,...,...
17359,-2,16/04/2020,NaN,NaN,NaN,NaN,Maharashtra,Hospitalized,16,04,2020
17360,1,18/04/2020,NaN,NaN,NaN,Nagpur,Maharashtra,Hospitalized,18,04,2020
17361,-1,18/04/2020,NaN,NaN,NaN,NaN,Maharashtra,Hospitalized,18,04,2020
17362,10,19/04/2020,NaN,NaN,NaN,Nagpur,Maharashtra,Hospitalized,19,04,2020
17363,-10,19/04/2020,NaN,NaN,NaN,NaN,Maharashtra,Hospitalized,19,04,2020

# Lets us export all of these into a CSV file now

In [24]:
df.to_csv('COVID19INDIA_CAPSTPROJECT.csv')

In [25]:
df

,Num Cases,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,Current Status,Day,Month,Year
0,1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,Recovered,30,01,2020
1,1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,Recovered,02,02,2020
2,1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,Recovered,03,02,2020
3,1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,Recovered,02,03,2020
4,1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,Recovered,02,03,2020
...,...,...,...,...,...,...,...,...,...,...,...
17359,-2,16/04/2020,NaN,NaN,NaN,NaN,Maharashtra,Hospitalized,16,04,2020
17360,1,18/04/2020,NaN,NaN,NaN,Nagpur,Maharashtra,Hospitalized,18,04,2020
17361,-1,18/04/2020,NaN,NaN,NaN,NaN,Maharashtra,Hospitalized,18,04,2020
17362,10,19/04/2020,NaN,NaN,NaN,Nagpur,Maharashtra,Hospitalized,19,04,2020
17363,-10,19/04/2020,NaN,NaN,NaN,NaN,Maharashtra,Hospitalized,19,04,2020